[package]
name = "the-yellow-compiler"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2"
# Removed js-sys, console_error_panic_hook, etc to keep it bare metal safe